body {
    background: transparent url(../../images/reWalls.com-30464.jpg) no-repeat fixed;
    background-size: 100% 100%;
}

.title {
    color: white;
}

.app {
    width: 960px;
    
    .project {
        border-radius: 5px 5px 13px 13px;
        .project-title {
            font-size: 24px;
            font-weight: bold;
        }

        .panel-body {
            background-color: #e1e1e8;
        }
    }

    .add-project-btn {
        font-weight: bold;
    }    
}

.dark-blue {
    color: #2E618D;
}

